In [25]:
!pip install pymongo

import pymongo
import pandas as pd

uri = "mongodb+srv://jh4975:apan5400final@cluster0.zpfw6k6.mongodb.net/?retryWrites=true&w=majority"
client = pymongo.MongoClient(uri)

collection = client["nyt"]["raw_articles"]

for doc in collection.find().limit(2):
    print(doc)

Requirement already satisfied: pymongo in /usr/local/lib/python3.11/dist-packages (4.12.0)
Requirement already satisfied: dnspython<3.0.0,>=1.16.0 in /usr/local/lib/python3.11/dist-packages (from pymongo) (2.7.0)
{'_id': 'nyt://article/07af8c56-bd31-5ec0-9c51-f205e036f551', 'abstract': 'At least in the capital, Damascus, the Christian holiday festivities were protected and joyfully observed. Religious minorities are still wary, however, about the new leaders’ commitment to inclusivity.', 'byline': {'original': 'By Vivian Yee and Nanna Heitmann'}, 'document_type': 'article', 'headline': {'main': 'Syria’s Easter Celebrations Pass Peacefully, in Early Test of New Government', 'kicker': '', 'print_headline': ''}, 'keywords': [{'name': 'Location', 'value': 'Syria', 'rank': 1}, {'name': 'Subject', 'value': 'Christians and Christianity', 'rank': 2}, {'name': 'Subject', 'value': 'Easter and Holy Week', 'rank': 3}, {'name': 'Subject', 'value': 'Minorities', 'rank': 4}, {'name': 'Person', 'value': 'al-Shara, Ahmed (Abu Mohammad al-Jolani) (1982- )', 'rank': 5}, {'name': 'Location', 'value': 'Damascus (Syria)', 'rank': 6}], 'multimedia': {'caption': 'Easter celebrations at the Mariamite Cathedral of Damascus, Syria, on Sunday.', 'credit': 'Nanna Heitmann for The New York Times', 'default': {'url': 'https://static01.nyt.com/images/2025/04/20/multimedia/20int-syria-easter-01-PROMO-copy/20int-syria-easter-01-tcjq-articleLarge.jpg', 'height': 429, 'width': 600}, 'thumbnail': {'url': 'https://static01.nyt.com/images/2025/04/20/multimedia/20int-syria-easter-01-PROMO-copy/20int-syria-easter-01-tcjq-thumbStandard.jpg', 'height': 75, 'width': 75}}, 'news_desk': 'Foreign', 'print_page': '', 'print_section': '', 'pub_date': '2025-04-20T22:24:40Z', 'section_name': 'World', 'snippet': 'At least in the capital, Damascus, the Christian holiday festivities were protected and joyfully observed. Religious minorities are still wary, however, about the new leaders’ commitment to inclusivity.', 'source': 'The New York Times', 'subsection_name': 'Middle East', 'type_of_material': 'News', 'uri': 'nyt://article/07af8c56-bd31-5ec0-9c51-f205e036f551', 'web_url': 'https://www.nytimes.com/2025/04/20/world/middleeast/syria-easter.html', 'word_count': 827, 'fetched_at': datetime.datetime(2025, 4, 20, 22, 49, 49, 762000)}
{'_id': 'nyt://article/bdbf0ac5-40a7-57d0-9672-c63706b69c77', 'abstract': 'Thomas van Geel’s second crossword is set in the ol’ factory.', 'byline': {'original': 'By Sam Corbin'}, 'document_type': 'article', 'headline': {'main': 'Contents of a Sleeve', 'kicker': 'wordplay, the crossword column', 'print_headline': ''}, 'keywords': [{'name': 'Subject', 'value': 'Crossword Puzzles', 'rank': 1}, {'name': 'Subject', 'value': 'Games', 'rank': 2}], 'multimedia': {'caption': 'Make like a tamarin and tear into today’s crossword.', 'credit': 'William West/Agence France-Presse — Getty Images', 'default': {'url': 'https://static01.nyt.com/images/2025/04/15/crosswords/21wordplay-ahahchoo-header/oakImage-1744754229243-articleLarge.jpg', 'height': 391, 'width': 600}, 'thumbnail': {'url': 'https://static01.nyt.com/images/2025/04/15/crosswords/21wordplay-ahahchoo-header/oakImage-1744754229243-thumbStandard.jpg', 'height': 75, 'width': 75}}, 'news_desk': 'Games', 'print_page': '', 'print_section': '', 'pub_date': '2025-04-20T22:00:06Z', 'section_name': 'Gameplay', 'snippet': 'Thomas van Geel’s second crossword is set in the ol’ factory.', 'source': 'The New York Times', 'subsection_name': '', 'type_of_material': 'News', 'uri': 'nyt://article/bdbf0ac5-40a7-57d0-9672-c63706b69c77', 'web_url': 'https://www.nytimes.com/2025/04/20/crosswords/daily-puzzle-2025-04-21.html', 'word_count': 708, 'fetched_at': datetime.datetime(2025, 4, 20, 22, 49, 49, 762000)}

In [26]:
import pandas as pd
from dateutil.parser import parse as to_date

data = [
    {"person": kw["value"], "pub_date": to_date(doc["pub_date"])}
    for doc in collection.find({}, {"pub_date": 1, "keywords": 1})
    if doc.get("pub_date")
    for kw in doc.get("keywords", [])
    if kw.get("name", "").lower() == "person"
]

df = pd.DataFrame(data)

In [27]:
print(df.shape)
df.head()

(222, 2)

                                              person                  pub_date
0  al-Shara, Ahmed (Abu Mohammad al-Jolani) (1982- ) 2025-04-20 22:24:40+00:00
1                                      Hegseth, Pete 2025-04-20 21:03:39+00:00
2                                    Trump, Donald J 2025-04-20 21:03:39+00:00
3                            Waltz, Michael (1974- ) 2025-04-20 21:03:39+00:00
4                      Abrego Garcia, Kilmar Armando 2025-04-20 18:57:14+00:00

In [28]:
df['pub_date'] = pd.to_datetime(df['pub_date'])

df['week'] = df['pub_date'].dt.to_period('W').apply(lambda r: r.start_time)
weekly_counts = df.groupby(['week', 'person']).size().reset_index(name='count')

top10_per_week = (
    weekly_counts
    .sort_values(['week', 'count'], ascending=[True, False])
    .groupby('week')
    .head(10)
    .reset_index(drop=True)
)

top10_per_week.tail(20)

top10_pairs = set(zip(top10_per_week["week"], top10_per_week["person"]))

article_data = []
for doc in collection.find():
    pub_date = doc.get("pub_date")
    if not pub_date:
        continue
    try:
        dt = to_date(pub_date)
        week = pd.Timestamp(dt).to_period("W").start_time
    except:
        continue

    for kw in doc.get("keywords", []):
        if kw.get("name", "").lower() == "person":
            person = kw["value"]
            if (week, person) in top10_pairs:
                article_data.append({
                    "person": person,
                    "week": week,
                    "pub_date": dt,
                    "headline": doc.get("headline", {}).get("main", ""),
                    "abstract": doc.get("abstract", ""),
                    "snippet": doc.get("snippet", ""),
                    "byline": doc.get("byline", {}).get("original", ""),
                    "news_desk": doc.get("news_desk", ""),
                    "section_name": doc.get("section_name", ""),
                    "subsection_name": doc.get("subsection_name", ""),
                    "web_url": doc.get("web_url", ""),
                    "word_count": doc.get("word_count", 0),
                    "image_url": doc.get("multimedia", {}).get("default", {}).get("url", "")
                })
df_articles = pd.DataFrame(article_data)

<ipython-input-28-6d7bc75c2a7e>:3: UserWarning: Converting to PeriodArray/Index representation will drop timezone information.
  df['week'] = df['pub_date'].dt.to_period('W').apply(lambda r: r.start_time)
<ipython-input-28-6d7bc75c2a7e>:25: UserWarning: Converting to Period representation will drop timezone information.
  week = pd.Timestamp(dt).to_period("W").start_time

In [29]:
print(df['pub_date'].min())
print(df['pub_date'].max())

2025-04-19 10:07:30+00:00
2025-04-22 15:10:14+00:00

In [30]:
!pip install sqlalchemy psycopg2
from sqlalchemy import create_engine

uri = "postgresql://postgres.owpmwzrjesrqoqugcfbr:m5qHKtJrY3S7PJbv@aws-0-us-east-1.pooler.supabase.com:6543/postgres"
engine = create_engine(uri)

top10_per_week.to_sql("weekly_person_top10", engine, index=False, if_exists="replace")
df_articles.to_sql("top10_articles", engine, index=False, if_exists="replace")

print("Successfully saved")

Requirement already satisfied: sqlalchemy in /usr/local/lib/python3.11/dist-packages (2.0.40)
Requirement already satisfied: psycopg2 in /usr/local/lib/python3.11/dist-packages (2.9.10)
Requirement already satisfied: greenlet>=1 in /usr/local/lib/python3.11/dist-packages (from sqlalchemy) (3.2.0)
Requirement already satisfied: typing-extensions>=4.6.0 in /usr/local/lib/python3.11/dist-packages (from sqlalchemy) (4.13.2)
Successfully saved